.home-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .game-nav {
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: center;
    .nav-buttons {
      display: inline-flex;
      flex-direction: column;
      gap: 14px;
      max-width: 250px;
    }
  }
}
